<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airship.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,147}</string>
                <key>spriteSourceSize</key>
                <string>{181,147}</string>
                <key>textureRect</key>
                <string>{{712,200},{181,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{172,161}</string>
                <key>spriteSourceSize</key>
                <string>{216,219}</string>
                <key>textureRect</key>
                <string>{{895,206},{172,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{206,115}</string>
                <key>spriteSourceSize</key>
                <string>{216,219}</string>
                <key>textureRect</key>
                <string>{{440,361},{206,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{216,155}</string>
                <key>spriteSourceSize</key>
                <string>{216,219}</string>
                <key>textureRect</key>
                <string>{{1130,1},{216,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-10}</string>
                <key>spriteSize</key>
                <string>{198,197}</string>
                <key>spriteSourceSize</key>
                <string>{216,219}</string>
                <key>textureRect</key>
                <string>{{712,1},{198,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,219}</string>
                <key>spriteSourceSize</key>
                <string>{216,219}</string>
                <key>textureRect</key>
                <string>{{524,1},{186,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{216,167}</string>
                <key>spriteSourceSize</key>
                <string>{216,219}</string>
                <key>textureRect</key>
                <string>{{912,1},{216,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigObstacle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,129}</string>
                <key>spriteSourceSize</key>
                <string>{64,129}</string>
                <key>textureRect</key>
                <string>{{648,361},{64,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigObstacle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,127}</string>
                <key>spriteSourceSize</key>
                <string>{62,127}</string>
                <key>textureRect</key>
                <string>{{1069,349},{62,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{46,39}</string>
                <key>textureRect</key>
                <string>{{1162,472},{46,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{1253,466},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{514,478},{42,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,26}</string>
                <key>textureRect</key>
                <string>{{558,478},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,33}</string>
                <key>spriteSourceSize</key>
                <string>{63,33}</string>
                <key>textureRect</key>
                <string>{{343,452},{63,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,34}</string>
                <key>spriteSourceSize</key>
                <string>{57,34}</string>
                <key>textureRect</key>
                <string>{{1162,413},{57,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,27}</string>
                <key>spriteSourceSize</key>
                <string>{47,27}</string>
                <key>textureRect</key>
                <string>{{465,478},{47,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{1210,466},{45,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,59}</string>
                <key>spriteSourceSize</key>
                <string>{46,59}</string>
                <key>textureRect</key>
                <string>{{295,452},{46,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,141}</string>
                <key>spriteSourceSize</key>
                <string>{126,141}</string>
                <key>textureRect</key>
                <string>{{1069,206},{126,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{61,147}</string>
                <key>spriteSourceSize</key>
                <string>{111,175}</string>
                <key>textureRect</key>
                <string>{{1276,317},{61,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{75,153}</string>
                <key>spriteSourceSize</key>
                <string>{111,175}</string>
                <key>textureRect</key>
                <string>{{714,349},{75,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{91,157}</string>
                <key>spriteSourceSize</key>
                <string>{111,175}</string>
                <key>textureRect</key>
                <string>{{1197,158},{91,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{99,163}</string>
                <key>spriteSourceSize</key>
                <string>{111,175}</string>
                <key>textureRect</key>
                <string>{{275,351},{99,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{61,147}</string>
                <key>spriteSourceSize</key>
                <string>{63,155}</string>
                <key>textureRect</key>
                <string>{{871,447},{61,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>drop1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,140}</string>
                <key>spriteSourceSize</key>
                <string>{78,144}</string>
                <key>textureRect</key>
                <string>{{1198,317},{76,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{76,140}</string>
                <key>spriteSourceSize</key>
                <string>{78,144}</string>
                <key>textureRect</key>
                <string>{{871,369},{76,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>drop3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{74,140}</string>
                <key>spriteSourceSize</key>
                <string>{78,144}</string>
                <key>textureRect</key>
                <string>{{1020,426},{74,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flying1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{55,137}</string>
                <key>spriteSourceSize</key>
                <string>{63,155}</string>
                <key>textureRect</key>
                <string>{{1290,158},{55,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flying2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{61,147}</string>
                <key>spriteSourceSize</key>
                <string>{63,155}</string>
                <key>textureRect</key>
                <string>{{871,447},{61,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flying3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,155}</string>
                <key>spriteSourceSize</key>
                <string>{63,155}</string>
                <key>textureRect</key>
                <string>{{714,426},{63,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flying4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{61,147}</string>
                <key>spriteSourceSize</key>
                <string>{63,155}</string>
                <key>textureRect</key>
                <string>{{871,447},{61,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{1013,369},{55,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,184}</string>
                <key>spriteSourceSize</key>
                <string>{137,184}</string>
                <key>textureRect</key>
                <string>{{524,222},{137,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,33}</string>
                <key>spriteSourceSize</key>
                <string>{55,33}</string>
                <key>textureRect</key>
                <string>{{408,478},{55,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{292,52}</string>
                <key>spriteSourceSize</key>
                <string>{292,60}</string>
                <key>textureRect</key>
                <string>{{1,453},{292,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{268,34}</string>
                <key>spriteSourceSize</key>
                <string>{292,60}</string>
                <key>textureRect</key>
                <string>{{912,170},{268,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,100}</string>
                <key>spriteSourceSize</key>
                <string>{272,100}</string>
                <key>textureRect</key>
                <string>{{1,351},{272,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,348}</string>
                <key>spriteSourceSize</key>
                <string>{521,348}</string>
                <key>textureRect</key>
                <string>{{1,1},{521,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.pvr.ccz</string>
            <key>size</key>
            <string>{1347,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c78af5d849fdec6dbdb0edc42b1bf741:147a4e9f4946c01fc57955862923af41:956d0322fb30c40cbd9ca2a22036a305$</string>
            <key>textureFileName</key>
            <string>player.pvr.ccz</string>
        </dict>
    </dict>
</plist>
